<!DOCTYPE html>
<html>
<head>
	<title>MY BIOGRAPHY</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body id="body-element">

	<header>
		<div class="main">
			<div class="logo">
				<img src="logo.jpg">
			</div>
			
			
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="AboutMe.html">About Me</a></li>
				<li><a href="Contact.html">Information</a></li>
				<li><a href="#" onClick="changebackground()">Change Me</a></li>
				<div style="color:White;">
				<br></br><p>TIME in MALAYSIA:</p>

				<p id="time"></p>

				<button style="color:white;background-color: #0000FF;" onclick="clearInterval(myVar)">Stop time</button>
				<button style="color:white;background-color: #0000FF;" onclick="Starttime()">Start time</button>
			</div>

			<script>
				var myVar = setInterval(myTimer ,1000);
				function myTimer() {
				var d = new Date();
					document.getElementById("time").innerHTML = d.toLocaleTimeString();
									}
				function Starttime(){
					setInterval(myTimer ,1000);
				}
			</script>
			<br></br><button style="color:white;background-color: #0000FF;"  onclick="myFunction()">Click Me</button>

				<p id="demo"style="color:blue";></p>
			
			<script>
				function myFunction() {
				var txt;
				var person = prompt("Please enter your name:", "");
				if (person == null || person == "") {
				txt = "User cancelled the prompt.";
													} else {
				txt = "Hello " + person + "! I Hope you fine today &#128512;";
															}
				document.getElementById("demo").innerHTML = txt;
										}
			</script>
			</div>
			</ul>
		
		<div class="title">
			<h1>MY BIOGRAPHY</h1>
		</div>
		
		<div class="button">
			<a href="WATCHVIDEO.html" class="btn">Watch Video</a>
			<a href="LISTENAUDIO.html" class="btn">Favourite Songs</a>
			
		</div>
		
	</header>
	<script>
		function changebackground(){
			var body_element = document.getElementById("body-element");
			body_element.style.backgroundImage = 'url("5.jpg")';
		}
	</script>
</body>

</html>