<html>
<head>
<title> BIOGRAPHY </title>
<link href="style.css" rel="stylesheet" type="text/css"

</head>
<body>
	<header>

	<div class="row">
	<ul class="main-nav">
		<li><a href="bio.html"> HOME </a></li>
		<li><a href="other.html"> OTHERS </a></li>
		<li class="active"><a href="feed.html"> FEEDBACK </a></li>
		
		
	</ul>
	</div>


<center>	
<div class="container">
 <form action = "/cgi-bin/html5.cgi" method = "get">
 Feedback : <input type = "text" name = "subject" placeholder="Write something.." style="height:50px"></textarea />
<input type="submit" id="sub2" value="Submit" onClick="window.alert('Thank you for your submission.'); ">
	
	</div>

<div class="date">
<form action = "/cgi-bin/html5.cgi" method = "get">
 Date : <input type = "date" name = "newinput" />
<input type="submit" id="sub2" value="Submit" onClick="window.alert('Thank you for your submission.'); ">

</form>
</div>
<div class="time">
<button id="myBtn">What time is it?</button>

<p id="demo"></p>

<script>
document.getElementById("myBtn").onclick = displayDate;

function displayDate() {
  document.getElementById("demo").innerHTML = Date();
}
</script>
</div

<div class="range">
<form action = "/cgi-bin/html5.cgi" method = "get">
 Select Range : <input type = "range" min = "0" max = "10" step "1"
 value = "5" name = "newinput" />
 <input type="submit" id="sub2" value="Submit" onClick="window.alert('Thank you for your submission.'); ">
 </form>
</div>



 <canvas id="myCanvas" width="578" height="150"></canvas>
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var x = canvas.width / 2;
      var y = canvas.height / 2;

      context.font = '20pt Calibri';
      context.textAlign = 'left';
      context.fillStyle = 'white';
      context.fillText('Aspire to inspire before we expire. – Unknown', 20,50);
    </script>

<div onmouseover="mOver(this)" onmouseout="mOut(this)" 
style="background-color:#D94A38;width:100px;height:10px;padding:40px;">
Mouse Over Me</div>

<script>
function mOver(obj) {
  obj.innerHTML = "Thank You"
}

function mOut(obj) {
  obj.innerHTML = "CLICK ME!!"
}
</script>


</center>
	</div>


	</header>

<footer class="tm-footer">
        
       
        <div class="tm-address">
        <p class="bold">Contact Me</p>
        <p>Phone : (+60) 177292061 </br>
            Email : hdyhkamall@gmail.com</p>    
        </div>
        <br/>
         
    </footer>




</body>
</html>

	