<html>
<head>
<title> BIOGRAPHY </title>
<link href="style.css" rel="stylesheet" type="text/css"

</head>
<body>
	<header>

	<div class="row">
	<ul class="main-nav">
		<li><a href="bio.html"> HOME </a></li>
		<li class="active"><a href="other.html"> OTHERS </a></li>
		<li><a href="feed.html"> FEEDBACK </a></li>
		
		
	</ul>
	</div>


	<section class="tm-bio">
    <div class="tm-bio">
		<center>
		
		<h1> Others </h1>
			<canvas id="myCanvas" width="500" height="100" style="border:2px solid #d3d3d3;">
			</canvas>

			<script>
			var c = document.getElementById("myCanvas");
			var ctx = c.getContext("2d");
			ctx.font = "20px Arial ";
			ctx.fillStyle = "cyan";
			ctx.fillText("To live will be an awfully big adventure. – Peter Pan",20,50);

			</script>
	
			<svg width="350" height="180">
				<rect x="50" y="20" rx="20" ry="20" width="200" height="150"
				style="fill:firebrick;stroke:black;stroke-width:5;opacity:0.5" />
			<text fill="#ffffff" font-size="45" font-family="Verdana"
				x="80" y="96">DAYAH</text>
				Sorry, your browser does not support inline SVG.
			</svg>
			
			
			<style>
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
</style>
<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>

<br/><br/>
<html>


<body>

<p>Drag the LOGO into the box:</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>
<img id="drag1" src="smile.png" draggable="true" ondragstart="drag(event)" width="250" height="69">

		
		</center>
        </div>
    </section>
    
       <br/>
    
      
	    <section class="tm-bio">
    <div class="tm-bio">
		<center>
		

<br/><br/>  


	
			<video width="400" controls>
			<source src="cat.mp4" type="video/mp4">
			<source src="cat.mp4" type="video/mp4">
  
		</video>
<br/><br/>		
		
		<style>

p {
  text-align: center;
  text-transform: uppercase;
  color: #cffffe;
}

</style>



<br/><br/>
<div class="audio">
	<audio controls>
		<source src="chill.mp3" type="audio/ogg">
		<source src="chill.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	</div>	
		</center>
        </div>
    </section>
	
<footer class="tm-footer">
        
       
        <div class="tm-address">
        <p class="bold">Contact Me</p>
        <p>Phone : (+60) 177292061 </br>
            Email : hdyhkamall@gmail.com</p>    
        </div>
        <br/>
         
    </footer>

		

    </body>
    
</html>

