*
{
	margin: 0;
	padding:  0;
}


.big-banner
{
	background-image: url('../../../img/auth/login/gym.jpg');
	height: 100%;
	background-size: cover;
	background-position: center;
}

.group
{
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;
}



